<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

        <link href="static/css/modified-bootstrap.css" rel="stylesheet"/>
        <link href="static/css/scrollbar.css" rel="stylesheet"/>

        <title>import numpy as pd</title>
        <meta name="author" content="Felicia Limanta"/>
        <meta name="description" content="AI project for AIC Compfest 13"/>

        <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="static/img/favicon.ico" type="image/x-icon">
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <button class="btn btn-link ms-3" id="menu" href="#!"><i class="fas fa-bars"></i></button>
            <a class="navbar-brand ps-3">AI-Generated Stock Chart for Paper Trading Simulation using Long Short Term Memory</a>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav text-center">
                            <a class="nav-link" id="home">
                                <i class="fas fa-caret-right me-4 nav-icon" id="home-i"></i>
                                    Home
                            </a>

                            <div class="sb-sidenav-menu-heading addons">About the project</div>
                            <a class="nav-link" id="motivational-problem">
                                <i class="fas fa-caret-right me-4 nav-icon" id="motivational-problem-i"></i>
                                Motivational Problem
                            </a>
                            <a class="nav-link" id="scalability">
                                <i class="fas fa-caret-right me-4 nav-icon" id="scalability-i"></i>
                                <!-- Scalability -->
                                Current version
                            </a>
                            <a class="nav-link" id="chart-generator-ai">
                                <i class="fas fa-caret-right me-4 nav-icon" id="chart-generator-ai-i"></i>
                                About the AI
                            </a>

                            <div class="sb-sidenav-menu-heading addons">Others</div>
                            <a class="nav-link" id="resources">
                                <i class="fas fa-caret-right me-4 nav-icon" id="resources-i"></i>
                                Resources
                            </a>
                            <a class="nav-link" id="log">
                                <i class="fas fa-caret-right me-4 nav-icon" id="log-i"></i>
                                Change Log
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <p class="small">This project is solely made for AIC by Compfest 13 by<h6>import numpy as pd</h6></p>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <div id="home-p" class="page">
                        {% if start == False %}
                             <div class = "row mt-4 ">
                                 <div class="col-lg-4 col-sm-12 mx-auto">
                                     <div class="alert alert-danger mb-2" role="alert">
                                         The generating process may take a while, but please do not spam.
                                     </div>
                                     <div class="alert alert-danger mb-2" role="alert">
                                         If the page crashes or the stock chart does not load, please wait for a while and try again.
                                     </div>
                                     <div class="alert alert-warning mb-2" role="alert">
                                         Reloading the page will discard your current session.
                                     </div>
                                    <div class = "card mt-4">
                                        <div class = "p-3">
                                            <div class = "row mb-2">
                                                <div class = "col-9">
                                                    Starting amount of candles for the chart
                                                </div>
                                                <div class = "col-3">
                                                    <output for="days" id="slider_days" class = "float-end">
                                                        {{ form.days.data }} Day(s)
                                                    </output>
                                                </div>
                                            </div>

                                            <form action="" method = "POST" class = "form-group" id = "slider">
                                                <!-- {{ form.csrf_token }} -->
                                                {{ form.days(min=0, max=50, oninput="outputUpdate(value)", class="form-range") }}
                                                <div id = "generate_button">
                                                    {{ form.submit(class="btn btn-primary float-end") }}
                                                </div>
                                                <div id = "generate_button_disabled" class = "btn btn-primary float-end disabled">
                                                    Generating....
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                                <div class="row mb-4 align-items-center">
                                    <div class="col-lg-11 col-sm-9">
                                        <h1 class="mt-4 mb-4">Paper Trading Simulator</h1>

                                        <!-- <h4 class="st">$STMJ</h4> -->
                                    </div>
                                    <div class="col-lg-1 col-sm-3">
                                        <div class="btn-group w-100">
                                            <button type="button" class="btn btn-outline-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="reset_b">
                                                Reset
                                            </button>
                                            <ul class= "card-body dropdown-menu">
                                                <li>
                                                    <div class="card-text small mb-2" style="width:200px">
                                                        Resetting the stock-chart will delete all of your previous transaction history and
                                                        your balance will be reset to default.
                                                        <br>
                                                        Are you sure?
                                                    </div>
                                                </li>
                                                <li>
                                                    <button class="btn btn-danger w-100" id="reset-button" href="index.html">
                                                        Reset
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="alert alert-primary" role="alert" id="finished">
                                          <h4 class="alert-heading">Well done!</h4>
                                          <p>
                                              You have reached the maximum possible days!<br />
                                              This is due to the limitation of the current AI.<br />
                                              Please head to "Chart Generator" section to read more about this.
                                              Reload the page to restart with a new chart.
                                          </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-9">
                                        <div class = "row mb-4">
                                            <div class="col-lg-8">
                                                <div class="row">
                                                    <div class='col-md-6'>
                                                        <!-- Day 1 -->
                                                        <h4 class="st">
                                                            $STMJ
                                                        </h4>
                                                        <h6 id = "day" class = "text-secondary">
                                                            Day 1
                                                        </h6>
                                                    </div>
                                                    <div class='col-md-6'>
                                                        <div class="card mb-2">
                                                            <button type="button" id="next-day" class="btn btn-primary di">
                                                                Proceed to the next day
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="card p-4" id = "chart-container">
                                                        <div id="stock-chart">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="card mb-4 ">
                                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                        <label class="btn btn-success active bb">
                                                            <input type="radio" class="action" id="buy-button" autocomplete="off" checked> Buy
                                                        </label>
                                                        <label class="btn btn-outline-danger sb">
                                                            <input type="radio" class="action" id="sell-button" autocomplete="off"> Sell
                                                        </label>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="card-title">
                                                            <br>
                                                            <div class="row mb-1">
                                                                <div class="col-lg-3 col-sm-12">
                                                                    Price
                                                                    <div class="small text-secondary">
                                                                        /share
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-9 col-sm-12">
                                                                    <div class="input-group">
                                                                        <span class="input-group-btn">
                                                                            <button type="button" class="btn btn-default price-counter counter" id="price-minus" data-type="minus" data-field="price[1]">
                                                                                <i class="fas fa-minus"></i>
                                                                            </button>
                                                                        </span>
                                                                        <input type="text" name="price[1]" class="form-control input-number" id="p_field" value="550">
                                                                        <span class="input-group-btn">
                                                                            <button type="button" class="btn btn-default price-counter counter" id="price-plus" data-type="plus" data-field="price[1]">
                                                                                <i class="fas fa-plus"></i>
                                                                            </button>
                                                                        </span>
                                                                    </div>
                                                                    <!-- <div id="current_price">
                                                                        Rp-
                                                                    </div> -->
                                                                </div>
                                                                <div class="row align-items-center mb-2">
                                                                    <div class="col-lg-4 col-sm-12">

                                                                    </div>
                                                                    <div class="col-lg-8 col-sm-12">
                                                                        <div class="small text-danger">
                                                                            <p id="p_rng"></p>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="row align-items-center mb-1">
                                                                <div class="col-lg-3 col-sm-12">
                                                                    Amount
                                                                </div>
                                                                <div class="col-lg-7 col-sm-8">
                                                                    <div class="input-group">
                                                                        <span class="input-group-btn">
                                                                            <button type="button" class="btn btn-default quantity-counter counter" id="quantity-minus" data-type="minus" data-field="quant[1]">
                                                                                <i class="fas fa-minus"></i>
                                                                            </button>
                                                                        </span>
                                                                        <input type="text" name="quant[1]" class="form-control input-number" id="q_field">
                                                                        <span class="input-group-btn">
                                                                            <button type="button" class="btn btn-default quantity-counter counter" id="quantity-plus" data-type="plus" data-field="quant[1]">
                                                                                <i class="fas fa-plus"></i>
                                                                            </button>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-2 col-sm-4">
                                                                    Lots
                                                                </div>
                                                                <div class="row align-items-center mb-1">
                                                                    <div class="col-lg-4 col-sm-12">

                                                                    </div>
                                                                    <div class="col-lg-8 col-sm-12">
                                                                        <div class="small text-danger text-left">
                                                                            <p id="q_rng"></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-4">
                                                                <div class="col-lg-4 col-sm-12">
                                                                    <div class="small">
                                                                        total
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-8 col-sm-12">
                                                                    <div class="small">
                                                                        = price x lots x 100
                                                                        <br>
                                                                        <p id = "expected-sum">
                                                                            = Rp550.000
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="d-grid gap-2 col-6 mb-6 mx-auto">
                                                                <button class="btn btn-outline-success buy-details action-button di" id = "buy">
                                                                    Buy
                                                                </button>
                                                                <button class="btn btn-outline-danger sell-details action-button di" id = "sell">
                                                                    Sell
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class = "row">
                                            <div class="row mb-4">
                                                <div class="col-lg-8">
                                                    <div class="small text-secondary">
                                                        Given history of previous day's data
                                                        prices and today's open price, try to
                                                        place bids as if it is the real market.

                                                        The order matching
                                                        process will be based on probability
                                                        using Normalized Sigmoid.

                                                        <ul>
                                                            <li>
                                                                The higher-priced you bid,
                                                                the higher the chance it will be
                                                                matched by a virtual seller.
                                                            </li>
                                                            <li>
                                                                The lower-priced you bid,
                                                                the higher the chance it will be
                                                                matched by a virtual buyer.
                                                            </li>
                                                        </ul>

                                                        The noise on the stock chart is generated
                                                        using Gaussian Distribution.
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="card-text small text-secondary">
                                                        <ul>
                                                            <li>
                                                                The minimum price you can bid is -7% of the previous day's closing price (Auto Reject Bawah).
                                                            </li>
                                                            <li>
                                                                The maximum price you can bid is +25% of the previous day's closing price (Auto Reject Atas).
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="card mb-4">
                                            <div class="card-header">
                                                Portfolio
                                            </div>
                                            <div class="card-body" >
                                                <table class="table borderless">
                                                <tr>
                                                    <td style="width: 50%">
                                                        Initial Balance
                                                    </td>
                                                    <td id = "ib">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td >
                                                        Virtual Balance
                                                    </td>
                                                    <td id = "vb">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td >
                                                        Available Balance
                                                    </td>
                                                    <td id = "ab">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td >
                                                        Pending Balance
                                                    </td>
                                                    <td id = "pb">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Floating P&L
                                                    </td>
                                                    <td  id = "vpl">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Gain
                                                    </td>
                                                    <td id = "g">
                                                    </td>
                                                </tr>
                                            </table>
                                            <table class="table borderless">
                                                <tr>
                                                    <th style="width: 50%">
                                                        Assets
                                                    </th>
                                                    <th>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td class = "st">
                                                    </td>
                                                    <td id = "cs">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td >
                                                        Pending Stocks
                                                    </td>
                                                    <td id = "ps">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Asset value
                                                    </td>
                                                    <td id = "av">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Avg Price
                                                    </td>
                                                    <td id = "ap">
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                </div>

                                <div class="card mb-4">
                                    <div class="card-header">
                                        Order History
                                    </div>
                                    <div class="card-body">
                                        <table id="orders-history" class="table borderless">
                                            <thead>
                                                <tr>
                                                    <th>Time</th>
                                                    <th>Side</th>
                                                    <th>Code</th>
                                                    <th>Lots</th>
                                                    <th>Price</th>
                                                    <th>Total</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                        {% endif %}
                        </div>
                        <div id="motivational-problem-p" class="page">
                            <h1 class="mt-4 mb-4">Motivational Problem</h1>
                            <p>
                                Stock Trading has been established for some time, and people worldwide are participating in supporting the industry through investment and the revenue gain from trading. However, it is intimidating for beginners to start trading. There has been a lot of classes, both online and offline, that teach people to become a better trader. Stock Trading Simulator is a key to learning how to trade because people tend to be afraid of losing money if they are trading with actual money.
                            </p>
                            <p>
                                Typically, three data can be used in such a simulator: pre-existing data from the past, computer-generated data, and real-time data using virtual currency. Each approach has its own advantages and disadvantages. For instance, using pre-existing data might lead to some bias because the event already happened. Meanwhile, using virtual currency on real-time data might produce some kind of regret, such as regretting not using real money because of high gain in the simulation.
                            </p>
                            <p>
                                The final option is our approach, which is computer-generated data. However, if the data is too random, it does not represent the actual case. Even if we use some pre-assumption, i.e. assuming normal distribution on the price movement, that does not necessarily replicate the real-life situation. The only way to generate data close to the actual data is to use Artificial Intelligence (AI), specifically Machine Learning (ML). ML will learn how the price moves by teaching the ML model with real-life historical data, and our model uses that information to generate brand new data that is trying to replicate the actual data.
                            </p>
                            <p>
                                AI in trading is commonly known for predicting/forecasting prices. We believe that AI and ML can be extended beyond it, and this project is the beginning of a new era for the stock trading simulator.
                            </p>
                        </div>
                        <div id="scalability-p" class="page">
                            <h1 class="mt-4 mb-4">Current version</h1>
                            <p>
                                This website is a Stock Trading Simulator with AI-Generated stock charts. This website is built for educational purposes to increase traders' experience using newly generated data that mimics real stock data. It is a one-page website with a simple and intuitive design, easy to use by both beginners and experienced traders. No login is required; users can open this website in their preferred browser and start practising.
                            </p>
                            <p>
                                In this demo version, there exist 1000 different starting seeds, where each seed consists of 30 days of historical data. Users can simulate stock trading as a practice using the given virtual currency. In the beginning, the user receives Rp1,000,000,000.00 as their virtual currency and 15 days of generated prices for a reference point in their decision making. Then, the user can trade for 85 days from one stock with the generated data, which are generated based on the 30 days starting seeds. Note that originally I have 200,000 seeds for this version, but it requires 500MB+ of storage space. Since this is only a demo version, I decided to pick 1000 random seeds just as a showcase, and it only requires 10MB+ storage space.
                            </p>
                            <p>
                                The generated data is based on Indonesian stock with the recent <a href="https://bigalpha.id/news/apa-itu-ara-dan-arb-saham">government regulation</a>, stating that today’s price can only be ranging between 93% to 125% of yesterday’s price. This is due to the pandemic to avoid the market from crashing. Both the historical data and the generated data are following this regulation.
                            </p>
                            <hr>
                            <h2>
                                Scalability
                            </h2>
                            <p>
                                In the future, we want to extend the features and flexibilities of this website, such as multiple stocks where the stocks might affect each other. Other qualities of life updates such as leaderboards and statistics are possible to implement for future updates. Multiplayer mode with ELO rating is possible as gamification of this system, making the practice more fun and enjoyable. Users might choose the number of stocks, historical data, the starting seed, starting cash, and trading duration for flexibility.
                            </p>
                            <p>
                                Another extension that can be made to this website is an automatic mentoring system, where an AI, either hard-coded or not, will teach the user how to make a better decision and the reasoning behind the decision. Therefore, users gain experience in their trading, but they also expand their knowledge of being better traders.
                            </p>
                        </div>
                        <div id="chart-generator-ai-p" class="page">
                            <h1 class="mt-4 mb-4">Chart Generator</h1>
                            <h2>
                                Dataset
                            </h2>
                            <p>
                                The data is taken from <a href = "https://github.com/yumoxu/stocknet-dataset/tree/master/price/raw">Stocknet Dataset by Yumoxu</a>; all data is from International stocks ranging from 4 September 2012 to 1 September 2017. Unfortunately, there is no “93% to 125%” regulation in this dataset. Since the model will learn from the data without the regulation, this hard-cap of 93% to 125% is currently hard-coded.
                                In total, 81 stock data were used, where each consists of 1253 data. Each data consists of the date of the transaction and the Open, High, Low, Close (OHLC) price of that day. The original data also contains Adjusted Close and Volume, but it is not required for our model. However, only the Open and Close prices are being used to train the ML model; meanwhile, the Low and High prices are generated using normal distribution based on the Open and Close prices. Therefore, the ML model can learn the general behaviour of the market, while the actual price, including Low and High, is simulating the random and natural behaviour of a mass of people.
                            </p>
                            <p>
                                Open price indicates the price at the beginning of the day, and Close price indicates the price at the end of the day. Therefore, it makes more sense to combine both Open and Close data with alternating order (Open, Close, Open, Close, ...) and generate Open and Close prices together. It will introduce the time-series property of Open and Close, rather than generating Open and Close individually.
                            </p>
                            <p>
                                Since my model uses a sliding window approach with a window size of 60 (30 days, alternating Open and Close), each training data consists of 30 days worth of information, which is utilized to generate the following day's pricey. In total, there are almost 200,000 sliding-window data that can be used to train the ML model. The data is split 70:30 for the training dataset and validation dataset. The validation dataset is used to evaluate how well the generator performs, preventing the model from overfitting.
                            </p>
                            <p>
                                The ML will generate brand new OHLC data, which then will be fed to the front-end of the web for the simulator and shown as a candlestick chart. A more detailed explanation of our model is provided in this website's “Our AI Model” section.
                            </p>
                            <hr>
                            <h2>
                                LSTM with Sliding Window
                            </h2>
                            <p>
                                Our approach to the stock generating problem is time-series, where the list of prices is considered a sequence. Time-series problems are famously solved by Deep Recurrent Neural Network (RNN) such as Long-Short Term Memory (LSTM), the algorithm used in this model. LSTM is an algorithm proposed by Sepp Hochreiter and Jürgen Schmidhuber to improve regular RNN in a problem called Exploding/Vanishing Gradient. Sequences generated by RNN tend to converge to either 0 or infinity. LSTM is an improvement but not a solution to this problem. While RNN can generate good sequences for roughly up to 5-6 elements, LSTM can generate roughly up to 100. This is why in this version, users can only see up to 100 days in total for better experiences.
                            </p>
                            <p>
                                There is a better solution to the Exploding/Vanishing Gradient problem, such as LSTM with the Encoder-Decoder approach or the state-of-the-art Transformer model with Attention Mechanism. However, our concern is the computing time. It took a couple of seconds for our server (without GPU-computing) to generate the sequence of 100 elements with just LSTM. Using the deeper model to generate longer sequences might take a couple of minutes to generate a chart. Since this is only a demo version, we stick to a simple LSTM with the Sliding-Window approach. Using Transformer for this website is still our consideration for the future of this website.
                            </p>
                            <p>
                                In the Sliding-Window approach, a given window is used to generate the next window. Then, the next window can be used to generate the next window again, which makes it has that ‘sliding’ movement. In the current version of this website, the window size is 30, which is the historical data as the seed. Starting from the given seed, the model generates a sequence of length 100 before hitting the Exploding/Vanishing Gradient. This sequence is what the candlestick chart shows in the simulator.
                            </p>
                            <hr>
                            <h2>
                                Generation Algorithm
                            </h2>
                            <p>
                                The goal of the model is to generate OHLC data. All four of OHLC are related to each other and the historical OHLC data, which makes generating a good-looking and convincing OHLC a lot harder. The easier solution to generating OHLC is to generate these 4 values separately. Still, the result is unrealistic, such as too random and chaotic, the huge gap between Open to Close, some values are lower than the Low and higher than the High, and no correlation or whatsoever between these 4 values.
                            </p>
                            <p>
                                My solution has solved these problems, and the model is capable of producing convincing charts. First, the algorithm will generate the Open and Close together. Since Open is the price at the beginning of a day, and Close is the price at the end of a day, Open and Close should be time-series data that affect each other. I combine the Open and Close dataset with the Open and Close alternate each other. For example, the sequence in my dataset will be Open day 1, Close day 1, Open day 2, Close day 2, Open day 3, Close day 3, etc. Then, after the generation is complete, the odd and even index can be separated. The even index is for Open, and the odd index is for Close (assuming zero-based indexing).
                            </p>
                            <p>
                                Furthermore, we hard-coded such a rule to the generation algorithm to give the restriction of “93% to 125% of the previous day’s price”. If the model decided to generate numbers outside the boundary, then it will be set to 93% if it is lower or 125% if it is higher. This modification implies that it follows the current <a href="https://bigalpha.id/news/apa-itu-ara-dan-arb-saham">government regulation</a> and avoids the Exploding/Vanishing Gradient problem. Since the changes are capped, it is harder for the sequence to converge to either 0 or infinity. Instead, the model will generate a repeating sequence after generating 100 elements. Since this repeating sequence does not resemble actual market behaviour, I decided to generate only 100 elements, despite avoiding the Exploding/Vanishing Gradient.
                            </p>
                            <p>
                                For the Low and High, I can simply set the value to 93% and 125% of yesterday’s price, respectively. However, the behaviour of an actual market is not a hard-coded constant either. My solution is to generate a random value between 93% and 125% of yesterday’s price, such that the Low is smaller than the High, while both Open and Close are still in between the value of Low and High. After experimenting with many generations, the randomized Low and High is quite convincing since the range is pre-determined by a reasonable Open and Close value. Moreover, it also reduces the amount of computation for the generation, making it more efficient to generate charts.
                            </p>
                            <hr>
                            <h2>
                                Pre-processing
                            </h2>
                            <p>
                                First, all stock data should have the same length and the same date. All stocks that do not fulfil this requirement will be removed. These steps resulted in the current dataset that we used, 81 stocks with 1253 days worth of data each.
                            </p>
                            <p>
                                The next step is data normalization. We use a combination of 2 normalization techniques, which are Log Normalization and Min-Max Normalization. The Log Normalization is inspired by a lot of data visualization in stock prices where the data is served in logarithmic scale, which makes everything clearer to understand. Meanwhile, the Min-Max Normalization will linearly scale the log value of each price to between 0 and 1. This step is needed for the LSTM (or RNN in general) to work. Else, the Exploding/Vanishing Gradient will happen a lot quicker, i.e. after generating 3-4 numbers.
                            </p>
                            <p>
                                The next and final pre-processing step is to prepare the dataset for the training process. First, combine Open and Close with an alternating pattern. Then, convert the given dataset into sliding window data, where the input is a certain window, and the output is the next window. Finally, the sliding window data from all stocks are combined into 1 large dataset containing almost 200,000 data. Therefore, the model will learn from not just one stock but all 81 stocks. This is allowed since the goal of the model is to mimic the market behaviour, not just a particular stock.
                            </p>
                            <hr>
                            <h2>
                                My model
                            </h2>
                            <p>
                                The model consists of 3 LSTM cells with 120 neurons each. The model's input is a 60-dimensional vector, which contains 30 days of alternating Open and Close, as explained in the previous section. The model's output is a 60-dimensional vector from a Time-distributed Layer with a ReLU activation function to ensure no negative data. This 60-dimensional vector is the next generated value, which can be either Open or Close, alternatingly.
                            </p>
                            <p>
                                The model achieves an R-squared of 99.62% from the validation dataset. We consider this accuracy a success since the model is neither underfitting nor overfitting. The model is capable of producing new sequences that are convincing and quite similar to actual market behaviour. This can be achieved due to a quite large amount of training data, together with the hyper-parameter fine-tuning. Most importantly, my solution of combining Open and Close, which makes everything comes together as a solid and convincing chart. The model is quite efficient and capable of generating an OHLC sequence of length 100 in under 3 seconds using GPU computing. Note that this is a testing environment using Google Colab, while the actual environment in the server does not have GPU computing.
                            </p>
                            <hr>
                            <h2>
                                Price Noise
                            </h2>
                            <p>
                                The price noise, which ticks every 0.5 seconds, is randomized using Gaussian Distribution. Gaussian Distribution often is used to represent distribution in any natural phenomenon, including prices bid by buyers and offered by sellers of the stock market.
                            </p>
                            <img src="static/img/normalDistribution.png" alt="Normal distribution for price noise" style="width:max(480px, 40vw)">
                            <p>
                                The chart above is generated from <a href = "https://jsfiddle.net/2uc346hp/">JSFiddle file by Torstein Hensi</a>.
                            </p>
                        </div>
                        <div id="resources-p" class="page">
                            <h1 class="mt-4 mb-4">Resources</h1>
                            Developed using:
                            <ul>
                                <li>
                                    Bootstrap 5.0
                                </li>
                                <li>
                                    Python 3.9.6
                                </li>
                                <li>
                                    Flask 2.0.1
                                </li>
                                <li>
                                    Flask-WTF 0.15.1
                                </li>
                                <li>
                                    Jinja2 3.0.1
                                </li>
                                <li>
                                    numpy 1.19.5
                                </li>
                                <li>
                                    pandas 1.3.2
                                </li>
                                <li>
                                    tensorflow-cpu 2.6.0
                                </li>
                                <li>
                                    sklearn 0.24.2
                                </li>
                                <li>
                                    WTForms 2.3.3
                                </li>
                            </ul>
                            <hr>
                            <p>
                                Dataset from <a href="https://github.com/yumoxu/stocknet-dataset/tree/master/price/raw">Stocknet Dataset by Yumoxu</a><br>
                                Layout heavily modified from <a href="https://startbootstrap.com/template/sb-admin">Start Bootstrap SB Admin</a><br>
                                Price Chart from <a href="https://github.com/tradingview/lightweight-charts">Lightweight Charts</a><br>
                                Counter Button modified from <a href="https://bootsnipp.com/snippets/dGWP">Buttons minus and plus in input by davidsantanacosta</a><br>
                                Gaussian Distribution randomizer from <a href="https://newbedev.com/javascript-math-random-normal-distribution-gaussian-bell-curve">JavaScript Math.random Normal distribution (Gaussian bell curve)?</a><br>
                            </p>
                        </div>
                        <div id="log-p" class="page">
                            <h1 class="mt-4 mb-4">Change Log</h1>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <div id="bin">
            <div id = "new-stock-ticker">
                {{ stock_ticker }}
            </div>
            <div id = "starting-days">
                {{ starting_days }}
            </div>
        </div>

        <script src="static/js/generate_button.js"></script>
        <script src="static/js/slider.js"></script>

        <script src="static/js/database.js"></script>
        <script src="static/model/stock-chart-data.js"></script>

        <script src="static/js/dropdown-new-game.js"></script>
        <script src="static/js/reload-page.js"></script>
        <script src="static/js/sidebar.js"></script>
        <script src="static/js/page.js"></script>
        <script src="static/js/action-tab-button.js"></script>

        {% if start %}
        <script src="static/js/set-day.js"></script>
        <script src="static/js/set-ticker.js"></script>
        <script src="static/js/probability.js"></script>
        <script src="static/js/number-formatter.js"></script>
        <script src="static/js/portfolio.js"></script>

        <script src="static/js/finished.js"></script>

        <!-- V -->
        <script src="static/js/counter-rev.js"></script>

        <script src="static/js/transaction.js"></script>
        <script src="static/js/stock-chart.js"></script>
        <script src="static/js/stock-chart-functions.js"></script>
        {% endif %}

        <script src="static/js/sess.js"></script>
        <!-- need fixing -->
        <!-- <script src="static/js/counter.js"></script>
        <script src="static/js/counter-q-only.js"></script> -->
        <script src="static/js/action.js"></script>
        <script src="static/js/table.js"></script>

    </body>
</html>
